<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Command Runner</title>

<link rel="stylesheet" href="/static/app.css">

</head>

<body>
<div class="container">
    <h1>Couchbase Vector Search Demo</h1>

    <div class="tabs">
        <h3>Load Data</h3>
        <input type="radio" name="tabs" id="tab1" checked>
        <label for="tab1">Composite</label>

        <input type="radio" name="tabs" id="tab2">
        <label for="tab2">Hyperscale</label>

        <input type="radio" name="tabs" id="tab3">
        <label for="tab3">Hybrid (FTS)</label>

        <input type="radio" name="tabs" id="tab7">
        <label for="tab7">AI Services</label>

        <div class="content">
            <section id="content1">
                <button onclick="setLoadCmd('python load.py --data data/dataset.csv --text-fields subject message_body --bucket vectorSearchDemo --scope _default --collection emails --copy-fields subject sender receiver message_body --limit 5 --id-field sender timestamp')">Load 5 emails</button>
            </section>

            <section id="content2">
                <button onclick="setLoadCmd('python load.py --data data/wiki_movie_plots_deduped.csv --text-fields Plot --bucket vectorSearchDemo --scope _default --collection movies --copy-fields Title ReleaseYear Director --limit 5 --id-field Title ReleaseYear')">Load 5 Movie Plots</button>
            </section>

            <section id="content3">
                <button onclick="setLoadCmd('python load.py --data data/yelp_academic_dataset_business.json --text-fields categories --bucket vectorSearchDemo --scope _default --collection yelp --copy-fields latitude longitude name --limit 5 --id-field business_id')">Load 5 Yelp Businesses</button>
            </section>

            <section id="content7">
                Instead of loading and vectorizing data yourself, you can use AI Services to vectorize data
                and store data during loading.
                See the <a href="https://docs.couchbase.com/ai/build/vectorization-service/vectorize-structured-data-capella.html" target="_blank">AI Services documentation</a> for more details.
                <img class="tab-image" src="/static/aiServicesScreenShot.png" alt="AI Services Vectorization" />
            </section>
        </div>
    </div>

    <input id="loadCmd" type="text" placeholder="Enter command..." />

    <button class="run" onclick="runLoad()">Run</button>

    <textarea id="outputLoad" readonly></textarea>

    <div class="tabs">
        <h3>RAG in action</h3>
        <input type="radio" name="tabsB" id="tab4" checked>
        <label for="tab4">Composite</label>

        <input type="radio" name="tabsB" id="tab5">
        <label for="tab5">Hyperscale</label>

        <input type="radio" name="tabsB" id="tab6">
        <label for="tab6">Hybrid (FTS)</label>

        <div class="content">
            <section id="content4">
                <input type="text" placeholder="Email sender" value="john.doe@example.com" />
                <input type="text" placeholder="Email receiver" value="support@aetheros.com" />
                <input type="text" placeholder="Prompt" value="What topics does John Doe most discuss?" />
                <button onclick="setRagCmd('python --foo --bar --baz')">Query</button>
            </section>

            <section id="content5">
                <input type="text" placeholder="Prompt" value="What are some movies that involve escapes?" />
                <button class="run">Query</button>
            </section>

            <section id="content6">
                <input type="text" placeholder="Latitude" value="34.426678" />
                <input type="text" placeholder="Longitude" value="-119.711196" />
                <input type="text" placeholder="Radius" value="5mi" />
                <input type="text" placeholder="Prompt" value="Where can I go for various health and wellness services?" />
                <button class="run">Query</button>
            </section>
        </div>
    </div>

    <input id="ragCmd" type="text" placeholder="Enter command..." />

    <button class="run" onclick="runRag()">Run</button>


    <textarea id="outputQuery" readonly></textarea>
</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
